<select name="tags" id="tags" class="select">
    <option value="{{sneaker.tags.0.id}}" selected>{{sneaker.tags.0.name}}</option>
    <option disabled>──────────</option>
    {{#each tags}}
    <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
</select>